{% extends 'base/base.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/menu.css' %}"> {% endblock %}
{% block title %}Меню{% endblock %}


{% block content %}
    <div class="align-top-center-v content">
        <div class="title align-center-h"><h1>Меню</h1></div>
        <div class="all_products align-top-center-v">
            <div class="align-top-center-v salads">
                <h1 title>Салати</h1>
                <div class="align-left-h category-1">
                    {% for product in all_products %}
                        <a href="{{ product.pk }}">
                            <div class="align-top-center-v product">
                                <img class="product-image" src="{{ product.image.url }}" alt="wtf, bro" width="278px" height="230px">
                                <div class="product-text">
                                    <h2 class="align-top-center-v product-name">{{ product.name }}</h2>
                                    <h2 class="align-top-center-v product-price">{{ product.price }}грн</h2>
                                </div>
                                
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}