{% extends 'base/base.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/product.css' %}"> {% endblock %}
{% block title %}Продукт{% endblock %}

{% block js %} 
<script src="{% static 'js/product.js' %}" defer></script> 
<script src="{% static 'js/jQuery.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content">
        <form id="add-to-cart" method="post">
            {% csrf_token %}
            <img src="{{ product.image.url }}" width="300px">
            <h2>{{ product.name }}</h2>
            <h2>{{ product.ingredients }}</h2>
            <h2>{{ product.price }} грн</h2>
            <h2>{{ product.description }}</h2>
            <input class="product" type="text" name="product" value="{{ product.pk }}" hidden>
            <input type="button" class="button-minus" value="-">
            <!-- <span id="count" class="counter_price" name="count">2</span> -->
            <input type="number" id="count" name="count" value="1" min="1" readonly>
            <input type="button" class="button-plus" value="+">
            <input class="add_to_cart" type="submit" name="button" value="Додати до кошику">
            <hr>
            <h2>{{ final_rating }}</h2>
        </form>
        <div class="add_comment">
            <form method="post">
                {% csrf_token %}
                <p><input class="username" type="text" placeholder="Ваше ім'я" name="username" required></p>
                <p><input class="rating" type="text" placeholder="Рейтінг" name="rating" required></p>
                <p><textarea class="comment" placeholder="Ваш коментарій" name="review" cols="30" rows="10" required></textarea></p>
                <p><input type="submit" value="Створити" ></p>
            </form>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <h2>{{ comment.username }} | Rating: {{ comment.rating }}</h2>
                <h3>{{ comment.review }}</h3>
                <br><br>
            {% endfor %}
        </div>

    </div>
{% endblock %}