{% extends 'base/base.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endblock %}
{% block title %}Головна{% endblock %}

{% block content %}
    <div class="content">
        <div class="align-center-v first-part">
            <h1>FlareRestaurant</h1>
        </div>
        <div class=" second-part">
            <div class="text-block-1">
                <p class="main-text-1">Ресторан, що пропонує неперевершений досвід у світі кулінарії та гостинності. Ресторан, що привертає увагу своїм стильним та сучасним інтер'єром, створюючи атмосферу затишку та комфорту.</p>
            </div>
        </div>
        <div class="third-part">
            <div class="text-block-2">
                <p class="main-text-2">Наша кухня - справжнє мистецтво. Наші талановиті шеф-кухарі використовують найсвіжіші інгредієнти, щоб створити неперевершені смакові поєднання та вражаючі страви. </p>
            </div>
        </div>
        <div class="fourth-part">
            <div class="text-block-3">
                <p class="main-text-3">Наше меню багате та різноманітне. Ви знайдете тут страви різних кухонь світу.</p>
            </div>
            <div class="link-block-1">
                <div class="top-dish">
                    <span class="try">Скуштуйте:</span>
                    <div class="product">
                        {% for product in all_products|slice:"1:2" %}
                            <img class="prod-image" src="{{product.image.url}}" alt="wtf, bro">
                            <p class="prod-name">{{product.name}}</p>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'menu' %}">
                    <div class="menu-link">
                        <p class="text-link1">Menu</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="fifth-part">
            <div class="text-block-4">
                <p class="main-text-4">Наша команда професіоналів у нашому ресторані присвячена наданню найвищої якості обслуговування.</p>
            </div>
        </div>
        <div class="sixth-part">
            <div class="textblock-5">
                <p class="main-text-5">Ми прагнемо досягти найвищих стандартів якості та задоволення наших гостей.</p>
            </div>        
        </div>
    </div>

    <footer>
        <div class="align-top-center-v left-part">
            <h2 class="align-center-h top-text">Зв'язатися з нами:</h2>
            <h2>+380960000000</h2>
            <h2>flarebussiness@gmail.com</h2>
        </div>
        <div class="align-top-center-v center-part">
            <h2 class="top-text">Графік роботи:</h2>
            <h2>Пн-Пт: 7.30 - 23.00</h2>
            <h2>Сб: 9.00 - 22.00</h2>
            <h2>Нд: 9.00 - 20.00</h2>
        </div>
        <div class="align-top-center-v right-part">
            <h2 class="top-text">Соціальні мережі:</h2>
            <h2>Instagram</h2>
            <h2>Facebook</h2>
        </div>
    </footer>
{% endblock %}