*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marck Script', cursive;
}

.content {
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../../media/images/2023/backgr1.png);
}

.first-part {
}

.second-part, .third-part, .fourth-part, .fifth-part, .sixth-part {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.second-part {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../../media/images/2023/backgr2.png);
}

.third-part {
    background: url(../../../media/images/2023/backgr3.jpg);
}

.fourth-part {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), url(../../../media/images/2023/backgr4.png);
}

.fifth-part {
    background: url(../../../media/images/2023/backgr5.png);
}

.sixth-part {
    background: url(../../../media/images/2023/backgr6.png);
}

.text-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 75%;
    background: rgba(0, 0, 0, 0.5);
}


/* .text-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.55);
    width: 70%;
    justify-content: center;
} */


.main-text{
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 69px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.prod-image {
    max-width: 300px;
    height: auto;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.prod-name {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.top-dish {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 25px;
    background: rgba(255, 255, 255, 0.75);
}

.try {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 69px;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25);
}

.menu-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #FAFAFA;
}

.text-link1 {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 69px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.link-block-1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 125px;
    color: #00CF99;
}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 40px;
    }

    .main-text{
        font-size: 30px;
        line-height: 40px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    .left-part, .center-part, .right-part{
        width: 100%;
        font-size: 27px;
        height: 251px;
        border-bottom: 2px #bababa solid;
    }

    .top-text {
        height: 51px;
    }
}









/* Auto layout ===========================================================*/

.align-top-left-h{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.align-top-left-v{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.align-top-center-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.align-top-center-v{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-top-right-h{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.align-top-right-v{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.align-left-h{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-left-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.align-center-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-center-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-right-h{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.align-right-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.align-bottom-left-h{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.align-bottom-left-v{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.align-bottom-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.align-bottom-v{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.align-bottom-right-h{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.align-bottom-right-v{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}