*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marck Script', cursive;
}

.content {
    padding: 110px 0px 0px;
}

.button-plus, .button-minus {
    font-size: 35px;
}