{% extends 'base/base.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/style.css' %}">  {% endblock %}
{% block title %}Вхід{% endblock %}


{% block content %}
    <div class="content">
        <h1>Вхід</h1>
        <form method="post">
            {% csrf_token %}
            
            <h2 style="color:red">{{ error }}</h2>
            <h2><input class="email" type="text" placeholder="email" name="email" required></h2>

            <h2><input class="password" type="password" placeholder="Пароль" name="password" required></h2>

            <h2>Ще немає акаунту? <a href="{% url 'registration' %}">Зареєструватись</a></h2>

            <h2><input type="submit" value="Вхід"></h2>
        </form>
    </div>
    
{% endblock %}